body {
  background: #fff;
  font-family: Helvetica;
}


.container{
    align-items: center;
    margin: 100px;
}
#form {
  

  margin-top: 100px;
  width: 100%;

  text-align: center;
  background-color: aqua;
  

}
span {
    text-align: center;;
  display: block;
  margin-bottom: 30px;
}
input {

  width: 100px;
  height: 40px;
  font-size: 2em;
}
output{
    width: 60px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 2em;

}
button {
  display: block;
  margin: 0 auto;
  padding: 10px 50px 10px 50px;
  font-size: 1em;
  cursor: pointer;
  border-style: none;
}
#btnSuma {
  background: steelblue;
  color: #fff;
}
#btnResta {
  background: rgb(204, 4, 4);
  color: #fff;
}
#btnMult {
  background: rgb(235, 222, 51);
  color: #fff;
}
#btnDiv {
  background: rgb(56, 189, 51);
  color: #fff;
}
#resultado {
  margin: 20px;
  text-align: center;
}
